body {
  display: flex;
  margin: 10px;
  background-color: lightgray;
  flex-wrap: wrap;
}
#self {
  border-radius: 200px;
  height: 400px;
  width: 400px;
}
.h2 {
  font-size: 36px;
}
main {
  text-align: center;
  max-width: 500px;
  font-size: 24px;
}
section {
  margin: 35px;
  text-align: center;
  margin-top: 0;
}
@media screen {
  min-width: 480px;
  max-width: 900px;
  header {
    display: flex;
  }
}
