body {
  display: flex;
  margin: 10px;
  background-color: lightgray;
}
nav {
  display: flex;
  flex-direction: column;
}
#self {
  border-radius: 200px;
  height: 400px;
  width: 400px;
}
.h2 {
  font-size: 36px;
}
main {
  text-align: center;
  max-width: 500px;
  font-size: 24px;
}
section {
  margin: 35px;
  text-align: center;
  margin-top: 0;
}
@media screen and (max-width: 650px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
}
