body {
  display: flex;
  background-color: lightgray;
}
nav {
  display: flex;
  flex-direction: column;
}
main {
  display: grid;
  grid-template-columns: 300px 300px;
  margin-left: 10px;
}
img {
  border-radius: 35px;
  margin-top: -15px;
}
section {
  font-size: 20px;
}
h2 {
  font-size: 35px;
}
h2 {
  margin-top: 0;
}
#project-c {
  width: fit-content;
}
h5 {
  font-size: 30px;
  text-align: center;
}
h4 {
  font-size: 30px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 30px;
}
#project-b {
  margin-left: 15px;
}
@media screen and (max-width: 860px) {
  main {
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    margin: 10px;
  }
  #project-c {
    margin-left: 0px;
  }
}
