body {
  display: flex;
  background-color: lightgray;
}
main {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: auto 1fr;
  margin-left: 10px;
  align-items: center;
}
img {
  border-radius: 35px;
  margin-top: -15px;
}
section {
  font-size: 20px;
}
h2 {
  font-size: 35px;
}
h2 {
  margin-top: 0;
}
#family {
  margin-left: 150px;
  width: fit-content;
  margin-top: -70px;
}
h5 {
  font-size: 30px;
  text-align: center;
}
h4 {
  font-size: 30px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 30px;
}
#work {
  margin-left: 15px;
}
@media screen and (max-width: 860px) {
  main {
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    margin: 10px;
  }
  #family {
    margin-left: 0px;
  }
}
