nav {
  display: flex;
  flex-direction: column;
}
body {
  display: grid;
  grid-template-columns: 300px 220px;
}
h2 {
  font-size: 30px;
}
p {
  margin-top: -20px;
}
@media screen and (max-width: 650px) {
  img {
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
